body {
	margin: none;
	padding: none;
	height: 100vh;
	width: auto;
	background-position: center;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.30)),url(./res/backgrounds/background1.jpg)


}

/* header */
.header-container {
	margin: 10% 15% 10% 15%;
	padding: 2px;
	height: auto;
	width: auto;
	position: center;
	border-radius: 24px;
	background-color: white;

}

.profile {
	margin: none;
	padding: none;
	text-align: center;
}

.avatar {
	margin: none;
	padding: 100px;
	align-content: center;

}

.avatar-image {
	text-align: center;
	margin: none;
	padding: none;
	height: 210px;
	width: 210px;
	

}

.profile-username {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.profile-username a {
	color: black;
	text-decoration:none;
}

.profile-name {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* content */
.content-container {
	margin: 0 0 15% 15% 
}

.github-stats {
	float: center;
	height: 250px;
	width: 250px;
}

.project-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-title tr {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* foother */
.footer {
	margin: none;
	height: 8%;
	width: auto;
	padding-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 20px 20px 0 0;
	float: bottom;
	background: rgb(24, 24, 24);

}

.footer-tag {
	text-align : center;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}